@import './base.css';
@import url("https://fonts.cdnfonts.com/css/cathiren");

#app {
  width: 100%;
  position: relative;
  background-color: var(--background);
  font-family: "Cathiren", sans-serif;

  color: var(--textColor);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.seat {
  background-color: var(--primary);
  border-radius: 8px;
  height: 25px;
  width: 24px;

  color: var(--textColor);
  font-weight: bolder;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
