@import './base.css';

#app {
  width: 100%;
  position: relative;
  background-color: var(--background);

  color: var(--textColor);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.seat {
  background-color: var(--primary);
  border-radius: 8px;
  height: 25px;
  width: 24px;

  color: var(--textColor);
  font-weight: bolder;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
